:root {
  --mainBg: #0d1323;
  --white: #fff;
  --cardBodyColor: #1d204b;
  --profileBg: #5746ea;
  --cardBorderRadius: 10px;
  --inactiveTextColor: #7074b1;
  --testCardImageColor: #7235d1;
  --workBg: hsl(15, 100%, 70%);
  --playBg: hsl(195, 74%, 62%);
  --studyBg: hsl(348, 100%, 68%);
  --exerciseBg: hsl(145, 58%, 55%);
  --socialBg: hsl(264, 64%, 52%);
  --selfCareBg: hsl(43, 84%, 65%);
  --activeCardColor: #34397b;
}

body {
  background-color: var(--mainBg);
  color: var(--white);
  width: 100vw;
  font-family: 'Rubik';
  border: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.time-profile-container {
  display: grid;
  min-width: 100%;
  grid-template-columns: 20% 80%;
}

.activities-container {
  display: grid;
  margin: 0 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-content: space-around;
}

.activity-card {
}

.card {
  border-radius: 10px;
  padding: 10px;
}

.card-header h2 {
  margin: 0;
}

.card-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
}

.card-main {
  position: relative;
  cursor: pointer;
  z-index: 4;
  background-color: var(--cardBodyColor);
}

.card-main:hover {
  background-color: var(--activeCardColor);
}

.card-body h3 {
  font-size: 3rem;
  margin: 30px 0;
}

.profile-card {
  padding: 0;
  height: 100%;
  background-color: var(--cardBodyColor);
}

.profile-header {
  background-color: var(--profileBg);
  border-radius: var(--cardBorderRadius);
  height: 60%;
  padding: 10px;
}

img.profile-image {
  width: 60px;
  border: 2px solid var(--white);
  border-radius: 100%;
}

.card-image-container {
  display: flex;
  position: relative;
  height: 45px;
  border-top-left-radius: var(--cardBorderRadius);
  border-top-right-radius: var(--cardBorderRadius);
  transform: translateY(10px);
  background-color: var(--testCardImageColor);
  z-index: -2;
  justify-content: flex-end;
  overflow: hidden;
}

img.card-image {
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 1;
  width: 80px;
}

.previous-time-text {
  color: var(--inactiveTextColor);
}

ul.profile-time-period-list {
  display: grid;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
  padding-left: 20px;
}

ul.profile-time-period-list li {
  cursor: pointer;
  color: var(--inactiveTextColor);
}

ul.profile-time-period-list li:hover {
  color: var(--white);
}

ul.profile-time-period-list li.active {
  color: var(--white);
}

.work-bg {
  background-color: var(--workBg);
}

.play-bg {
  background-color: var(--playBg);
}

.study-bg {
  background-color: var(--studyBg);
}

.exercise-bg {
  background-color: var(--exerciseBg);
}

.social-bg {
  background-color: var(--socialBg);
}

.self-care-bg {
  background-color: var(--selfCareBg);
}

.ellipsis {
  cursor: pointer;
}

.ellipsis:hover {
  filter: brightness(1.5);
}

@media (max-width: 700px) {
  .time-profile-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .activities-container {
    grid-template-columns: 1fr;
    margin: 0;
    gap: 0;
  }
  .profile-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: auto;
  }
  .profile-header .profile-info > * {
    margin: 0;
  }
  .profile-header .profile-info p {
    font-size: 0.75rem;
    margin-bottom: 5px;
  }
  .profile-header .profile-info h1 {
    font-size: 1rem;
  }
  ul.profile-time-period-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
